# Python
venv/
env/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
backend/*.db
backend/*.sqlite3

# Node
node_modules/
frontend/dist/
frontend/build/

# Env files
.env
.env.local
*.env
!*.env.example

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
venv312/
